<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Add a Gift</h1>

<form action="#" th:action="@{/add}" th:object="${gifting}" method="post">
    <label for="giftName">Gift Name</label>
    <input type="text" id="giftName" name="giftName" placeholder="What was the gift?" th:field="*{gift.name}"/>

    <label for="occasion">Occasion:</label>
    <input type="text" name="occasion" id="occasion" list="occasion_list" th:field="*{occasion}"
           placeholder="What event did you receive it?"/>
    <datalist id="occasion_list" th:each="occasion : ${T(com.giftr.gifting.Occasion).values()}">
        <option th:text="${occasion.displayValue}">Occasion</option>
    </datalist>

    <label for="date">Date</label>
    <input type="date" id="date" name="date" th:field="*{date}"/>

    <label>Giver</label>
    <input list="givers" th:field="*{givers}"/>
    <datalist id="givers" th:if="${not #lists.isEmpty(givers)}" th:each="giver: ${givers}">
        <option value="${giver.firstName}"></option>
    </datalist>
    <datalist id="givers" th:if="${#lists.isEmpty(givers)}">
    </datalist>

    <label>Favorite?</label>
    <input type="checkbox" th:field="*{favorite}"/>

    <button type="submit" value="submit">Add Gift</button>
    <button type="reset" value="reset">Reset</button>
</form>

</body>
</html>
